:root {
  --yl: #FCD016;
}


body {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background: #000;
  * {
    font-family: 'Roboto', sans-serif;
  }

  &.no_scroll {
    overflow-y: hidden;
  }
}

.wrapper {
  width: 375px;
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  background: #000;
}

.inside {
  width: 375px;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  &.inside_full{
    width: 100%;
  }
}

.usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex_m {
  align-items: center;
}

.flex_t {
  align-items: flex-start;
}

.flex_b {
  align-items: flex-end;
}

.flex_sb {
  justify-content: space-between;
}

.flex_c {
  justify-content: center;
}

.flex_sa {
  justify-content: space-around;
}

.flex_e {
  justify-content: flex-end;
}

.mob {
  display: none;
}




.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.close_all {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: -100;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
  display: none;

  &.active {
    z-index: 900;
    transition: 0.3s;
    opacity: 1;
    display: block;
  }
}


.pop_w {
  padding: 40px 0;
  box-sizing: border-box;
  position: relative;
  position: fixed;
  left: 0vw;
  top: -100vh;
  width: 100vw;
  min-height: 100vh;
  z-index: 10000;
  overflow-y: scroll;
  visibility: height;
  transition: 0.8s;
  background: none;
  &.active {
    visibility: visible;
    transition: 0.8s;
    top: 0;
    left: 0;
  }
  &.pop_center{
    .pop_scroll{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}

.pop_bg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.85;
  z-index: 2;
}

.pop_scroll {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  .inside {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.pop {
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.pop_in_wrap {
  background: #000;
  border-radius: 0px;
  padding: 0;
  transition: 0.3s;
  width: 100%;
  max-width: 100%;
  position: relative;
  color: #151515;
  box-sizing: border-box;
  padding: 1px 0;
}

section {
  box-sizing: border-box;
  padding: 1px 0;
}

/*base*/

.title_h1{
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 0 25px;
}