:root {
  --yl: #FCD016;
}


body {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background: #000;
  * {
    font-family: 'Roboto', sans-serif;
  }

  &.no_scroll {
    overflow-y: hidden;
  }
}

.wrapper {
  width: 440px;
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  background: #000;
}

.inside {
  width: 440px;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  &.inside_full{
    width: 100%;
  }
}

.usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex_m {
  align-items: center;
}

.flex_t {
  align-items: flex-start;
}

.flex_b {
  align-items: flex-end;
}

.flex_sb {
  justify-content: space-between;
}

.flex_c {
  justify-content: center;
}

.flex_sa {
  justify-content: space-around;
}

.flex_e {
  justify-content: flex-end;
}

.mob {
  display: none;
}




.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.close_all {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: -100;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
  display: none;

  &.active {
    z-index: 900;
    transition: 0.3s;
    opacity: 1;
    display: block;
  }
}


.pop_w {
  padding: 40px 0;
  box-sizing: border-box;
  position: relative;
  position: fixed;
  left: 0vw;
  top: -100vh;
  width: 100vw;
  min-height: 100vh;
  z-index: 10000;
  overflow-y: scroll;
  visibility: height;
  transition: 0.8s;
  background: none;
  &.active {
    visibility: visible;
    transition: 0.8s;
    top: 0;
    left: 0;
  }
  &.pop_center{
    .pop_scroll{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}

.pop_bg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.85;
  z-index: 2;
}

.pop_scroll {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  .inside {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.pop {
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.pop_in_wrap {
  background: #000;
  border-radius: 0px;
  padding: 0;
  transition: 0.3s;
  width: 100%;
  max-width: 100%;
  position: relative;
  color: #151515;
  box-sizing: border-box;
  padding: 1px 0;
}

section {
  box-sizing: border-box;
  padding: 1px 0;
}

/*base*/

.title_h1{
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 0 25px;
}

.swiper-pagination-bullet{
  opacity: 1 !important;
}

.card{
  width: 360px;
  height: 230px;
  position: relative;
  perspective: 1000px;
  box-sizing: border-box;
  padding: 1px;
  margin-bottom: 50px;
  filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.8));
  &.active{
      .card_front{
          transform: rotateY(-180deg);
      }
      .card_back{
          transform: rotateY(0deg);
      }
  }
}
.card_front, .card_back{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 15px;
  transform-style: preserve-3d;
  transform-origin: 50%;
}
.card_front{
  background: url(~@/assets/images/card/card_front.svg) no-repeat center 0;
}
.card_back{
  transform: rotateY(180deg);
  background: url(~@/assets/images/card/card_back.svg) no-repeat center 0;
}
.card_nick_front{
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25), -1px 0px 1px #151515, 1px 0px 1px #151515, 0px -1px 1px #151515, 0px 1px 1px #151515;
  margin-left: 27px;
  margin-bottom: 30px;
  p{
      font-family: "Roboto Mono";
  }
}
.card_nick_back{
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25), -1px 0px 1px #151515, 1px 0px 1px #151515, 0px -1px 1px #151515, 0px 1px 1px #151515;
  margin-right: 17px;
  margin-top: 66px;
  display: flex;
  justify-content: flex-end;
  p{
      font-family: "Roboto Mono";
  }
}
.card1{
  .card_front{
  background: url(~@/assets/images/card/card_front1.svg) no-repeat center 0;
  }
  .card_back{
      background: url(~@/assets/images/card/card_back1.svg) no-repeat center 0;
  }
}
.card2{
  .card_front{
  background: url(~@/assets/images/card/card_front2.svg) no-repeat center 0;
  }
  .card_back{
      background: url(~@/assets/images/card/card_back2.svg) no-repeat center 0;
  }
}
.card3{
  .card_front{
  background: url(~@/assets/images/card/card_front3.svg) no-repeat center 0;
  }
  .card_back{
      background: url(~@/assets/images/card/card_back3.svg) no-repeat center 0;
  }
}
.card4{
  .card_front{
  background: url(~@/assets/images/card/card_front4.svg) no-repeat center 0;
  }
  .card_back{
      background: url(~@/assets/images/card/card_back4.svg) no-repeat center 0;
  }
}
.card5{
  .card_front{
  background: url(~@/assets/images/card/card_front5.svg) no-repeat center 0;
  }
  .card_back{
      background: url(~@/assets/images/card/card_back5.svg) no-repeat center 0;
  }
}
.card6{
  .card_front{
  background: url(~@/assets/images/card/card_front6.svg) no-repeat center 0;
  }
  .card_back{
      background: url(~@/assets/images/card/card_back6.svg) no-repeat center 0;
  }
}
.card7{
  .card_front{
  background: url(~@/assets/images/card/card_front7.svg) no-repeat center 0;
  }
  .card_back{
      background: url(~@/assets/images/card/card_back7.svg) no-repeat center 0;
  }
}


.style_block{
  padding-bottom: 350px;
}

  .account_h1{
      font-size: 28px;
      line-height: 32px;
      text-align: center;
      color: #FFF;
      margin-bottom: 5px;
  }
  .account_h2{
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 41px;
  }
  .account_h3{
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #FFF;
      opacity: 0.7;
      margin-bottom: 15px;
  }
  .account_h4{
      font-size: 22px;
      line-height: 32px;
      text-align: center;
      color: #FFFFFF;
      text-align: left;
      margin-bottom: 32px;
  }
  .input_wrap{
      margin-bottom: 15px;
      position: relative;
      p{
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 1.125px;
          text-transform: uppercase;
          color: #828282;
          margin-bottom: 8px;
          text-align: left;
      }
      label{
          display: block;
      }
      input{
          border: 1px solid rgba(198, 198, 198, 0.5);
          box-sizing: border-box;
          border-radius: 5px;
          background: none;
          width: 100%;
          height: 51px;
          font-size: 15px;
          letter-spacing: 1.125px;
          color: #fff;
          padding: 0 15px;
          &::placeholder{
              color: #828282;
          }
      }
  }
  .account_button{
      margin-bottom: 15px;
      a, button{
          background: #828282;
          border: 1px solid rgba($color: #828282, $alpha: 0.5);
          box-sizing: border-box;
          border-radius: 5px;
          font-weight: 500;
          font-size: 16px;
          text-align: center;
          color: #FFFFFF;
          padding: 16px 10px;
          width: 100%;
          position: relative;
      }
  }
  .account_button_google{
      a, button{
          &::before{
              content: "";
              position: absolute;
              left: 13px;
              top: 13px;
              width: 24px;
              height: 24px;
              background: url(~@/assets/images/google.svg) no-repeat center 0;
          }
      }
  }
  .input_icon{
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
  }

  .input_wrap_flex{
      > div{
          width: 48%;
      }
  }
  .input_wrap_button{
      .input_wrap{
          width: calc(97% - 50px);
      }
      .account_button{
          a, button{
              height: 50px;
              width: 50px;
              padding: 0;
              display: flex;
              justify-content: center;
              align-items: center;
          }
      }
  }
  .input_icon_wrap{
      input{
          padding-right: 50px;
      }
  }

  .user_account_button{
      position: relative;
      a{
          font-size: 20px;
          padding: 10px 50px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          border-radius: 41px;
      }
      img{
          display: block;
      }
  }

  .user_account_button_icon{
      position: absolute;
      left: 26px;
      top: 50%;
      transform: translateY(-50%);
  }

  .input_checbox_wrap{
      margin: 25px 0;
      label{
          cursor: pointer;
      }
      input:checked + .input_checbox{
          background: #fff;
          transition: 0.3s;
      }
      .input_checbox{
          border: 1px solid #fff;
          border-radius: 3px;
          width: 22px;
          height: 22px;
          box-sizing: border-box;
          transition: 0.3s;
      }
      p{
          font-size: 15px;
          text-align: left;
          margin-left: 10px;
          color: #fff;
      }
  }

  .select_wrap{
      position: relative;
      text-align: left;
      &.active{
          .select_drop{
              overflow: visible;
              z-index: 10;
              opacity: 1;
          }
      }
  }

  .select{
      width: 100%;
      max-width: 100%;
      background: #fff;
      color: #000;
      font-weight: 500;
      font-size: 16px;
      box-sizing: border-box;
      padding: 12px 10px;
      border-radius: 5px;
      cursor: pointer;
  }
  .select_drop{
      position: absolute;
      left: 0;
      top: 105%;
      width: 100%;
      box-sizing: border-box;
      padding: 15px 25px;
      border-radius: 5px;
      background: #fff;
      z-index: 10;
      overflow: hidden;
      z-index: -10;
      opacity: 0;
      color: #000;
      font-weight: 500;
      font-size: 16px;
      p{
          cursor: pointer;
          padding: 10px 0;
      }
  }

  .table{
    overflow: auto;
    margin-bottom: 50px;
    table{
        border: 1px solid rgba(198, 198, 198, 0.5);
        box-sizing: border-box;
        border-radius: 5px;
    }
    thead{
        th{
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1.125px;
            text-transform: uppercase;
            color: #828282;
            box-sizing: border-box;
            padding: 19px 15px;
            vertical-align: middle;
        }
    }
    tbody{

        td{
            border-top: 1px solid #6E6E6E;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1.125px;
            text-transform: uppercase;
            color: #fff;
            box-sizing: border-box;
            padding: 19px 15px;
            vertical-align: middle;
            a{
                color: #2A62CF;
            }
        }
    }
}